.project
*.class
*.prefs
.classpath
bin/
target/
.idea/
*.iml
*.ipr
*.iws
.DS_Store
*.log
*.tmp
*.bak
*.swp
*.swo
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.vscode/
*.settings/
*.mvn/
*.gradle/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.7z