# Visual Studio Code Settings
.vscode/
*.code-workspace

# Compiled Java Output (Build folders)
bin/
target/
build/
out/

# Java Class Files
*.class

# Project Configuration Files
.project
.classpath
.prefs
.factorypath

# Build Tools (Maven and Gradle)
.mvn/
.gradle/
/build/

# Operating System Files
.DS_Store
Thumbs.db
