<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
<!-- Cfg Service Locator -->
<!-- <bean id="iccLocator"  class="com.nt.locator.ICCScoreCompServiceLocator" factory-method="getService">
     <constructor-arg  value="icc"/>
</bean>
 -->
 <!-- Cfg Local Service class -->
<!-- <bean id="cbService"  class="com.nt.service.CrickBuzzGetScoreServiceImpl">
    <property name="extService"  ref="iccLocator"/>
</bean>
 -->  
 
 <bean id="iccLocator"  class="com.nt.locator.ICCScoreCompServiceLocator"/>
 <bean id="iccExtComp"  factory-bean="iccLocator"  factory-method="getService">
     <constructor-arg value="icc"/>
 </bean>
 
 <bean id="cbService"  class="com.nt.service.CrickBuzzGetScoreServiceImpl">
    <property name="extService"  ref="iccExtComp"/>
</bean>
</beans>